<div>
  <div class="jumbotron">
    <h1 class="display-4">Điểm Danh Lớp Học</h1>
    <hr class="my-4" />
    <p>
      Sử dụng công nghệ Azure Cognitive Services cho điểm danh sinh viên
    </p>
  </div>

  <div class="card-group">
    <div class="card">
      <h4 class="card-header">Lưu danh sách lớp học</h4>
      <div class="card-body">
        <div class="card-text">
          Thiết lập Person Groups, Persons and Faces
        </div>
      </div>
      <div class="card-footer">
        <a class="btn btn-primary" [routerLink]="['/configuration']">Set-up</a>
      </div>
    </div>
    <div class="card">
      <h4 class="card-header">Face Detection</h4>
      <div class="card-body">
        <div class="card-text">
          Detect and Identify Faces
        </div>
      </div>
      <div class="card-footer">
        <a class="btn btn-success" [routerLink]="['/test-faces']">Detect Faces</a>
      </div>
    </div>

  </div>